html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    font-family: sans-serif;
    background-color: #303030;
    color: #E0E0E0;
}

.content {
    text-align: center;
    /*margin-top: 10px;*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
    text-align: center;
}

li {
    -webkit-user-select: none;
    cursor: pointer;
    /*line-height: 35px;*/
    /*height: 50px;*/
    display: inline-table;
    position: relative;
    margin: 0 25px;
}

#top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    /*height: 75px;*/
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 15px;
    background-color: #212121;
    text-align: center;
    font-size: 30px;
    -webkit-user-select: none;
    display: table;
}
